/* Import Tailwind CSS styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Styles */

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 87.77px;
  text-align: left;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: left;
}

h4 {
  font-family: "Nunito", sans-serif;
  color: "#9A9AA9";
}
